<!DOCTYPE html>
<html>
<head>
  <title>Vinay Maneti</title>
  <%= csrf_meta_tags %>
  <link rel="icon" type="image/png" href="/images/favicon-32x32.png" sizes="32x32" />
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<%= yield %>
</body>
</html>
